<title>inspector.py</title>
<link rel="stylesheet" href="https://latex.now.sh/style.css">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧪</text></svg>">
<style>
p {hyphens: none;} /* override */
.failure { color: red; font-weight: bold; } .failure::before {content: "❌ "} 
</style>

<body id="top">
  <header>
    <h1>A study of available <nobr>Cloud Run</nobr> metadata</h1>
    <p class="author">Katie McLaughlin<br> May 2020</p>
  </header>

  <div class="abstract">
    <h5>Abstract</h5>
    <p>This service allows a live inspection of the <a href="https://cloud.google.com/run/docs/reference/container-contract#metadata-server">container instance metadata server.</a> A number of pre-configured searches have been curated in advance. However, by specifying <code>?q=</code> the metadata server can be inspected interactively.
    </p>
  </div>

  <main>
    <article>
      {% if query %}
      <h2>Custom query</h2>
      {{queryblock(q=query) |safe}}
      {% endif %}

      <h2>Pre-configured queries</h2>
      <p>A number of useful queries formatted<sup><a href="#fn1" id="ref1">1</a></sup> for your consumption:<p>
      {{ queryblock(title="Project ID", q="/computeMetadata/v1/project/project-id") |safe }}
      {{ queryblock(title="Deployed Region", q="/computeMetadata/v1/instance/region") |safe }}

    <hr>
    <h3>References</h3>
    <ul>
      <li>Styling from <a href="https://latex.now.sh">https://latex.now.sh</a>
      <li>Developed using <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> web framework
      <li>Leverages <a href="https://www.python-httpx.org/">HTTPX</a>
    </ul>
    </article>
  </main>
</body>
